header {
  width: 100%;
  background-color: #1F1F1F;
  height: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  left: 0;
  margin: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #292A2D;
}
.search-bar {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}